<!-- <div>
    <mat-dialog-content class="content">
        <h1 style="text-align: center">{{spaza?.spazaName}}</h1>
        <p>Located At</p>
        <h3>Township : {{spaza?.cityName}}</h3>
        <h3>Street : {{spaza?.streetName}}</h3>
        <b style="color: red">Do you want to Update or Delete?</b>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button style="width:166px" mat-raised-button (click)="close()">Close</button>
        <button style="width:166px" mat-raised-button (click)="updateSpaza()">Update</button>
        <button style="width:166px" mat-raised-button color="warn" (click)="deleteSpaza()">Delete</button>
    </mat-dialog-actions>
</div> -->

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{spaza?.spazaName}}</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <div *ngIf="spaza?.photoURL == ''">

    </div>

    <div *ngIf="spaza?.photoURL !=''">
        <!-- <ion-img [src]="spaza.photoURL" (click)="zoom(spaza)"></ion-img> -->
        <img src="{{spaza?.photoURL}}">

    </div>
    <br>
    <mat-card-content>
        <p>
            {{spaza?.Discription}}
        </p>
        <mat-divider></mat-divider>

        <mat-list>
            <mat-list-item>
                <mat-icon mat-list-icon color="primary">location_on</mat-icon>
                <h4 mat-line>{{spaza?.Address}}</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>access_time</mat-icon>
                <h4 mat-line>{{spaza?.Hours | date:'HH:mm a'}} - {{spaza?.Close | date:'HH:mm a'}}</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>call</mat-icon>
                <h4 mat-line>{{spaza?.Number}}</h4>
            </mat-list-item>
            <mat-list-item>
                <h4 mat-line>Total Comments: {{ spaza?.commentCount }}</h4>
            </mat-list-item>
        </mat-list>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="delete()">Delete</button>
        <button mat-button (click)="Update()">Update</button>
        <button mat-button *ngIf="spaza?.commentCount!=0" (click)="viewComments()"> view Comments</button>
    </mat-card-actions>
</mat-card>