<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="500px">
        <mat-grid-tile>
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title style="text-align: center;">
                        Registered users per month
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div>
                        <app-linechat></app-linechat>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title style="text-align: center;">
                        Registered spazas per month
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div>
                        <app-spazalinechart></app-spazalinechart>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile>
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title style="text-align: center;">Registered Users
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <app-usertable></app-usertable>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>



    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="2:1">

        <mat-grid-tile>
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title style="text-align: center;">Registered Spazas
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <app-spazatable></app-spazatable>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
</div>