<div #map id="map"></div>
<div id='geocoder' class='geocoder'></div>
<div class="padding">
    <mat-card class="example-card">

        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <img src="/assets/img/avatar.svg">
                </div>
                <div mat-card-avatar class="example-header-image">
                    <!-- <img src="{{user.photoURL}}" width="50px" height="50px"> -->
                </div>
                <mat-card-title>user.displayName</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>


            </mat-card-header>
            <mat-card-content>
                <mat-list-item>
                    <!-- <mat-icon mat-list-icon>note</mat-icon> -->
                    <p color="light"> comment.createdAt </p>
                    <p> comment?.content </p>
                </mat-list-item>
            </mat-card-content>
        </mat-card>

    </mat-card>

</div>

<div class="shopList">

    <div class="flip-card" *ngFor="let spaza of spazalist">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h6>{{spaza.spazaName}}</h6>
                <h5>{{spaza.spazaName}}</h5>
                <p>{{spaza.commentCount}} review</p>
                <p> {{spaza.Address}}</p>
            </div>
            <div class="flip-card-back" (click)="jotPip(spaza)">
                <button class="btn">Find Shop</button>
                <img src="{{spaza.photoURL}}" alt="Avatar" style="width:180px;height:180px;">

            </div>
        </div>
    </div>

    <!-- 
     <li *ngFor="let spaza of spazalist" (click)="jotPip(spaza)">
        <p class="spazaName">
            {{spaza.spazaName}}
        </p>
        <p class="font" >
            No review
        </p>
        <p class="font" >
            {{spaza.commentCount}} review
        </p>

        <p class="font ad">
            {{spaza.Address}}
        </p>
    </li>
    -->

    <!-- <ion-slides startAutoplay>

        <ion-slide>


            <ion-card>

                <ion-card-content>
                    <p class="spazaName">
                        {{spaza.spazaName}}
                    </p>
                    <p class="font" >
                        No review
                    </p>
                    <p class="font">
                        {{spaza.commentCount}} review
                    </p>

                    <p class="font ad">
                        {{spaza.Address}}
                    </p>
                    <p class="font">
                        {{spaza.Hours | date:'HH:mm a'}} - {{spaza.Close | date:'HH:mm a'}}
                        <!-- <ion-icon name="call" slot="end" class="call" color="primary"></ion-icon> --
                        <span class="right"> <span  (click)="comment(spaza)">View more</span> &nbsp; &nbsp; &nbsp; <span (click)="navigate(spaza)">Direction</span></span>
                    </p>
                    <p></p>
                </ion-card-content>
            </ion-card>


        </ion-slide>
    </ion-slides> --
</div> -->
    >>>>>>> 69ccaf4318f64483bac668d87de87c02fbcbdbe2