<div #map id="map"></div>
<div id='geocoder' class='geocoder'></div>
<div class="padding">
    <mat-card class="example-card">

        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <img src="/assets/img/avatar.svg">
                </div>
                <div mat-card-avatar class="example-header-image">
                    <!-- <img src="{{user.photoURL}}" width="50px" height="50px"> -->
                </div>
                <mat-card-title>user.displayName</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>


            </mat-card-header>
            <mat-card-content>
                <mat-list-item>
                    <!-- <mat-icon mat-list-icon>note</mat-icon> -->
                    <p color="light"> comment.createdAt </p>
                    <p> comment?.content </p>
                </mat-list-item>
            </mat-card-content>
        </mat-card>

    </mat-card>

</div>