#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.shopList {
    position: absolute;
    background-color: aqua;
    bottom: 20px;
    width: 45%;
    height: 70%;
    left : 10px;
    top: 130px;
}
