#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.shopList {
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.75);
    bottom: 20px;
    width: 45%;
    height: 70%;
    left : 10px;
    top: 130px;
    overflow-y: scroll;
}
